html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*================================
     Navbar
================================*/

nav {
  width: 100%;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  height: 43px;
  z-index: 10;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 4px 15px 2px;
  align-items: center;
}


/*================================
     HEADER BOX
================================*/
.header-container{
  width: 100%
}

header {
  padding-top: 90px;
  font-size: 40px;
  width: calc(100%/2);
  margin: 0 auto;
}

.main-image {
  padding-bottom: 50px;
}

figure{
  width: 945px;
  margin: 0 auto;
}

.main-image img {
  width: 945px;
}

.main-image figcaption {
  margin: 10px 20px 0 0;
  width: 720px;
}

/*=============================
      CONTENT AND ASIDE bar
==============================*/

/* LAYOUT */

.article{
  width: 1170px;
  margin: 0 auto;
  /* background: #aec9f5; */
}

.article-body{
  width: 600px;
  /* background: lightblue; */
  margin: 0 auto;
}

.article-meta{
  width: 600px;
  margin: 0 auto;
}

.article-body figure{
  width: 600px;
}

/* ASIDE BAR STYLING */

.aside-bar {
  float: right;
  width: 210px;
  position: relative;
  top: -2200px;
  left: -60px;
}

.aside-bar {
  text-align: left;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.aside-bar .signup-science {
  height: 585px;
}
.aside-bar .signup-science h2 {
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin: 5px;
}

.aside-bar .signup-science p {
  font-style: normal;
  margin: 0 0 10px;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: rgb(102, 102, 102);
}

.btn {
  color: rgb(255, 255, 255);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  height: 35px;
  background: rgb(98, 136, 165);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(98, 136, 165);
  border-image: initial;
  border-radius: 4px;
  padding: 10px;
  margin: 0px;
}

.aside-bar .signup-science button {
  width: 100%;
}

.aside-bar .editor-picks {
  height: 381px;
}

.aside-bar .editor-picks h2 {
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.aside-bar .editor-picks article {
  overflow: hidden;
  margin: 10px 0;
}

.aside-bar .editor-picks article a {
  display: inline-block;
  width: 210px;
}

.aside-bar .editor-picks article a img {
  width: 75px;
  height: 75px;
}

.aside-bar .editor-picks article a h3 {
  float: right;
  width: 125px;
  font-family: nyt-cheltenham-small, georgia, "times new roman";
  font-size: 14px;
  line-height: 17px;
  color: rgb(51, 51, 51);
  padding-top: 15px;
}

/* CONTENT STYLING */

.article-meta-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  margin: 0 0 16px;
}

.article-body p {
  color: #333333;
  font-size: 20px;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  margin-bottom: 15px;
  line-height: 1.6;
}

.social-icons ul li {
  display: inline-block;
  padding: 8px;
}

.article-author {
  height: 20px;
  margin: 0 0 15px;
}

/*=============================
      OVERLAP IMAGE
==============================*/

/* OVERLAP IMAGE LAYOUT */

.overlap-image {
  width: 945px;
  margin: 0 auto;
}

.overlap-image img {
  width: 945px;
}

.overlap-image-container {
  position: relative;
}
/* OVERLAP IMAGE STYLING */

.overlap-image h1 {
  font-size: 20px;
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  color: #000;
}


.overlap-image #first-overlap {
  font-size: 14px;
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  color: #666;
  width: 909;
}

.overlap-image p span {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.05em;
}


.overlap-image-container p {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
  width: 228px;
  text-align: justify;
  position: absolute;
  padding-right: 10px;
}

.pp1 {
  top: 155px;
}

.pp2 {
  top: 155px;
  left: 245px;
}
.pp3 {
  top: 155px;
  left: 485px;
}
.pp4 {
  top: 155px;
  left: 728px;
}

.pp5 {
  top: 565px;
}
.pp6 {
  top: 565px;
  left: 245px;
}
.pp7 {
  top: 565px;
  left: 485px;
}
.pp8 {
  top: 565px;
  left: 728px;
}

.overlap-image .caption {
  position: relative;
  top: -95px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  height: 37px;
}

.overlap-image .caption::before {
  content: "";
  width: 60px;
  display: block;
  border-top: 1px solid black;
  padding-bottom: 13px;
}

/*=============================
      BOTTOM
==============================*/

/* BOTTOM LAYOUT */

.blog-container{
  width:1200px;
  margin: 0 auto;
}

.blog-thumnails{
  width: 73%;
  height: 1084px;
  float: left;

}

.blog-thumnails img{
  width: 272.625px;
  height: 181.750px;
}

.blog-space-content{
  display: grid;
  grid-template-columns: auto auto auto;
}

.blog-editors-pick{
  display: grid;
  grid-template-columns: auto auto auto;
}

.thumnails{
  width: 273px;
  height: 300px;
  padding: 10px 0;
}

.blog-aside{
  width: 25%;
  height: 1084px;
  float: right;
}

.blog-aside li{
  height: 80px;
  width: 315px;
  padding: 15px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.blog-logo{
  clear: both;
  display: flex;
  height: 50px;
  width: 1281px;
  justify-content: space-between;
  padding: 0 40px;
}

.blog-logo svg{
  padding-left: 37px;
}
.blog-links{
  width: 1281px;
  height: 391px;
  margin: 0 auto;
  display: flex;
  padding: 0 40px;
}

.blog-link-column{
  flex-grow: 1;
}

footer{
  height: 75px;
  text-align: center;
}

footer li{
  display: inline-block;
}

hr{
  border: 0.5px solid #333;
  margin-top: 20px;
}


/* BOTTOM STYLING */

.blog-container .sec-title {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  padding-top: 20px;
}

.caption{
  font-size: 0.625rem;
  text-align: right;
  color: rgb(153, 153, 153);
  display: block;
  font-family: nyt-cheltenham-small, georgia, "times new roman";
}
.thumnails{
  position: relative;
}

.thumnails h2{
  font-size: 1.125rem;
  line-height: 22px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 500;
  padding: 4px 0;
}

.thumnails .time{
  color: #999;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 0;

}

.blog-links .sec-title{
  font-size: 13px;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: #333;
  height: 25px;
}

.blog-links .blog-link-column a{
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin;
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
  text-decoration: none;
}

.blog-links .blog-link-column a:hover{
  text-decoration: underline;
}

.blog-aside a{
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
}

.blog-logo a{
  color: rgb(98, 136, 165);
  font-family: nyt-franklin;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}
.blog-link-column{
  padding: 0 3px;
}
.blog-links .last{
  border-left: 1px solid rgb(226, 226, 226);
}

#bold1, #bold2, #bold3, #bold4 {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin helvetica, arial, sans-serif;
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  padding-bottom: 0px;
  text-decoration: none;
}

footer a{
  color: rgb(153, 153, 153);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  white-space: nowrap;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 11px;
}

#line{
  border: 0.5px solid rgb(226, 226, 226);
  margin-top: 0;
}
